{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="navbar navbar-expand-custom" data-bs-theme="dark" style="position: absolute; top: 0; left: 0; right: 0; z-index: 100; background: transparent; padding: 1.5rem 2rem;">
  <div class="container-fluid">
    <a class="navbar-brand brand-text" href="/" style="text-shadow: 2px 2px 8px rgba(0,0,0,0.9), 0px 0px 4px rgba(0,0,0,0.8); color: #fff;">Sergey Meshkov</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
      <span class="navbar-toggler-icon" style="filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.9));"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="gap: 1.5rem;">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/@snowthirsty" target="_blank" style="text-transform: uppercase; letter-spacing: 2px; font-size: 14px; text-shadow: 1px 1px 6px rgba(0,0,0,0.9), 0px 0px 3px rgba(0,0,0,0.8); color: #fff;">YouTube</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/thesnowthirsty" target="_blank" style="text-transform: uppercase; letter-spacing: 2px; font-size: 14px; text-shadow: 1px 1px 6px rgba(0,0,0,0.9), 0px 0px 3px rgba(0,0,0,0.8); color: #fff;">Instagram</a></li>
      </ul>
    </div>
  </div>
</nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page" "style" "text-transform: uppercase; letter-spacing: 2px; font-size: 14px; text-shadow: 1px 1px 6px rgba(0,0,0,0.9), 0px 0px 3px rgba(0,0,0,0.8); color: #fff;") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" "nav-link" "aria-current" "page" "style" "text-transform: uppercase; letter-spacing: 2px; font-size: 14px; text-shadow: 1px 1px 6px rgba(0,0,0,0.9), 0px 0px 3px rgba(0,0,0,0.8); color: #fff;") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="nav-item">
        <a
        {{- range $k, $v := $attrs }}
            {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
        {{- end -}}
        >{{ $name }}</a>
    </li>
  {{- end }}
{{- end }}
