<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ if eq .Title "" }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} - {{
      .Title }}{{ end }}
    </title>

    <meta charset="utf-8" />
    {{if .Params.redirect_url}}
    <meta http-equiv="refresh" content="0; url={{ .Params.redirect_url }}" />
    {{end}}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {{ if .Summary }}
    <meta
      name="description"
      property="og:description"
      content="{{ .Summary }}"
    />
    {{ else }}
    <meta name="description" property="og:description" content="Sergey Meshkov" />
    {{ end }}

    <!-- Meta Previews -->
    <meta
      name="title"
      property="og:title"
      content="{{ if .Title }}{{ .Site.Title }} - {{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}"
    />
    <meta name="type" property="og:type" content="website" />  
    <meta name="url" property="og:url" content="{{ .Page.Permalink }}" />

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" /> -->

    <!-- Content Security Policy -->
    <meta
      http-equiv="Content-Security-Policy"
      content="base-uri 'self'; default-src 'self'; worker-src blob:; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net fonts.googleapis.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' cdn.jsdelivr.net blob:; img-src 'self' storage.googleapis.com data:; media-src 'self' storage.googleapis.com  blob: data:; font-src 'self' cdn.jsdelivr.net fonts.googleapis.com fonts.gstatic.com data:; connect-src 'self' 'unsafe-eval'; frame-src 'self' https://www.youtube.com/"
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    {{ $themeCss := resources.Get "css/styles.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $themeCss.Permalink }}" />
    {{if .Params.extra_css}} {{ $extraCss := resources.Get .Params.extra_css | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $extraCss.Permalink }}" />
    {{end}}
  </head>
  <body>
    <div class="container-fluid">
      {{ block "header" . }} {{ end }} {{ block "main" . }} {{ end }} {{ block
      "footer" . }} {{ end }}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
