:root {
  --font-primary: "Inter", sans-serif;
  --bg-color: #000000;
  --text-color: #ffffff;
  --link-color: #cccccc;
  --link-hover: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--font-primary);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-header {
  padding: 8px 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.brand-text {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}
.brand-text:hover {
  color: var(--link-color);
}

/* Nav Link Hover states for top menu */
.navbar-nav .nav-link {
  transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
  color: var(--link-hover) !important;
}
